$app-background-color: #faf0dc;
$app-background-color-dark-05: color.scale(
  $app-background-color,
  $lightness: -5%
);

$app-background-color-dark-20: color.scale(
  $app-background-color,
  $lightness: -20%
);

$app-primary-color: #7f6d47;
$app-dark-color: #212529;
$app-light-color: #f8f9fa;

$stolperstein-color: #b5a642;
$stolperstein-color-light: color.scale($stolperstein-color, $lightness: 40%);
$stolperstein-border-radius: 0.3em;

$navbar-mobile-height: 3.5rem;
$footer-height: 3rem;
