@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --base-1-color: 245 224 183;
    --base-2-color: 248 234 205;
    --accent-1-color: 255 140 90;
    --accent-2-color: 161 105 81;
    --accent-3-color: 85 67 59;

    --app-stolperstein-color: 181 166 66;
  }
}

@layer components {
  .selected-stolperstein-marker {
    @apply h-7 w-7 cursor-pointer rounded-md border-4 border-black bg-stolperstein hover:bg-white/20;
  }

  .position-marker {
    @apply z-10 h-6 w-6 cursor-pointer rounded-full border-[3px] border-white bg-blue-600;
    box-shadow: 0 0 7px 3px #0000002e;
  }
}
