.info-page {
  background-color: var(--app-bg-light);

  .content-container {
    width: min(100%, #{$breakpoint-md-min});
    min-height: calc(100vh - #{$app-footer-height});
  }

  article {
    padding-top: 3rem;

    section {
      padding: 1rem;

      &:first-child {
        padding-top: 1rem;
      }

      &:last-child {
        padding-bottom: 6rem;
      }

      h1,
      h3 {
        margin-top: 2rem;
        margin-bottom: 2rem;
      }

      p {
        margin-bottom: 0;
        padding-bottom: 1rem;
      }
    }
  }

  @media (min-width: $breakpoint-sm-min) {
    .content-container {
      min-height: calc(100vh);
    }

    article {
      section {
        border-radius: 15px;
        padding: 1rem 2rem;
      }
    }
  }

  @media (min-width: $breakpoint-md-min) {
    .content-container {
      min-height: calc(100vh);
    }

    article {
      section {
        padding: 2rem 3rem;
      }
    }
  }
}
