.info-page {
  background-color: var(--app-bg-light);

  article {
    section {
      padding: 0rem 1rem;

      &:first-child {
        padding-top: 6rem;
      }

      &:last-child {
        padding-bottom: 6rem;
      }

      h1,
      h3 {
        margin-top: 2rem;
        margin-bottom: 2rem;
      }

      p {
        margin-bottom: 0;
        padding-bottom: 1rem;
      }
    }
  }

  @media (min-width: $breakpoint-sm-min) {
    article {
      padding-top: 3rem;

      section {
        border-radius: 15px;
        padding: 0rem 2rem;
        margin: 1rem;
      }
    }
  }

  @media (min-width: $breakpoint-md-min) {
    article {
      section {
        padding: 0rem 3rem;
      }
    }
  }
}
