.info-page {
  background-color: var(--app-bg);

  .content-container {
    width: min(100%, #{$breakpoint-lg-min});
    background-color: var(--app-bg-light);
    min-height: calc(100vh - #{$app-footer-height});
  }

  article {
    padding-top: 3rem;

    section {
      padding: 0rem 1rem;

      &:first-child {
        padding-top: 1rem;
      }

      &:last-child {
        padding-bottom: 6rem;
      }

      h1,
      h3 {
        margin-top: 2rem;
        margin-bottom: 2rem;
      }

      p {
        margin-bottom: 0;
        padding-bottom: 1rem;
      }
    }
  }

  @media (min-width: $breakpoint-sm-min) {
    padding: 1rem;

    .content-container {
      min-height: calc(100vh - 2rem);
    }

    article {
      section {
        border-radius: 15px;
        padding: 0rem 2rem;
        margin: 1rem;
      }
    }
  }

  @media (min-width: $breakpoint-md-min) {
    padding: 3rem 2rem;

    .content-container {
      min-height: calc(100vh - 6rem);
    }

    article {
      section {
        padding: 0rem 3rem;
      }
    }
  }
}
