@import 'variables';

.position-marker {
  width: 1.5rem;
  height: 1.5rem;
  background-color: $blue-7;
  border-radius: 2rem;
  border: 0.2rem solid white;
  box-shadow: 0 0 7px 3px #0000002e;
  z-index: 11;

  &:focus,
  &:hover {
    background-color: $blue-8;
    cursor: pointer;
  }
}

$stolperstein-border-radius: 0.3em;

.selected-stolperstein-marker {
  width: 2rem;
  height: 2rem;
  background-color: var(--app-stolperstein-bg-color);
  border: 0.4rem solid black;
  border-radius: $stolperstein-border-radius;
  z-index: 10;

  &:focus,
  &:hover {
    filter: brightness(80%);
    cursor: pointer;
  }
}
