// app global css in SCSS form

.body--light {
  background-color: $app-background-color;
}

.body--dark {
  background-color: $app-background-color;
}

.app-bg {
  background-color: $app-background-color;
}

.app-card {
  background-color: $app-card-background-color;
  border-radius: $app-card-border-radius;
}

.app-card-bg {
  background-color: $app-card-background-color;
}

.stolperstein-marker {
  width: 1.5rem;
  height: 1.5rem;
  background-color: $stolperstein-color;
  border: 1px solid black;
  border-radius: $stolperstein-border-radius;
  &:focus,
  &:hover {
    background-color: darken($stolperstein-color, 5%);
  }
}
