// app global css in SCSS form

.body--light {
  background-color: $app-background-color;
}

.body--dark {
  background-color: $app-background-color;
}

.app-bg {
  background-color: $app-background-color;
}

.app-bg-light {
  background-color: $app-background-color-light;
}

.app-card {
  background-color: $app-card-background-color;
  border-radius: $app-card-border-radius;
}

.app-card-bg {
  background-color: $app-card-background-color;
}

.app-action-button {
  padding: 1rem 2rem !important;
}

.position-marker {
  width: 1.5rem;
  height: 1.5rem;
  background-color: $blue-7;
  border-radius: 2rem;
  border: 0.2rem solid white;
}

.selected-stolperstein-marker {
  width: 2rem;
  height: 2rem;
  background-color: $stolperstein-color;
  border: 0.4rem solid black;
  border-radius: $stolperstein-border-radius;
  &:focus,
  &:hover {
    background-color: darken($stolperstein-color, 5%);
  }
}

.footer-space {
  padding-bottom: $app-footer-height;
}

.info-page {
  background-color: $app-background-color-light;

  article {
    section {
      background-color: $app-background-color-light;
      padding: 0rem 1rem 6rem;

      &:first-child {
        padding-top: 6rem;
      }

      h1,
      h3 {
        //padding-top: 2rem;
        margin-top: 0;
        margin-bottom: 2rem;
      }

      p {
        margin-bottom: 0;
        padding-bottom: 1rem;
      }
    }
  }

  @media (min-width: $breakpoint-sm-min) {
    background-color: $app-background-color;

    article {
      padding-top: 3rem;

      section {
        border-radius: 15px;
        padding: 3rem 2rem 3rem 2rem;
        margin-top: 1rem;
        margin-bottom: 4rem;
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }
  }
}

.mobile-menu {
  background-color: $app-background-color;

  & article {
    section {
      background-color: $app-background-color !important;
    }
  }
}
